@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.jsEnabled .jsHidden {
  display: none;
}

.jsEnabled .jsVisible {
  display: block;
}

.jsEnabled .jsVisible.flex {
  display: flex;
}

.jsVisible {
  display: none;
}

/* Tiptap placeholder */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
